$white: #E9E9E9;
$height: 40px;
$darkRed: #bf2d2d;
$lightRed: #d26c6c;
.manageWidgets {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
}

form.dialog {
    width: 80%;
    max-width: 500px;
    padding: 20px 10px;
    background: $white;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    main {
        display: flex;
        justify-content: space-between;
        padding: 5px 0 0;
        section {
            h2 {
                padding-bottom: 5px;
                text-decoration: underline;
                text-align: center;
                font-weight: bold;
            }
            div {
                margin-top: 20px;
                &.widget {
                    margin-top: 0px;
                }
            }
            a {
                transition: font-size .3s ease-out 0s;
                text-decoration: none;
                font-weight: bold;
                position: relative;
                top: -20px;
                &:hover {
                    font-size: 1.2rem;
                }
            }
        }
    }
    footer {
        text-align: center;
        button {
            margin-top: 20px;
            width: 200px;
            height: 30px;
            border-radius: 5px;
            transition: 0.2s ease-out 0s;
            &:focus {
                outline: 5px solid $white;
            }
            &.save {
                background-color: #ec5252;
                border: 1px solid #ec5252;
                color: $white;
                &:hover {
                    background-color: #992337;
                    border: 1px solid #992337;
                    cursor: pointer;
                }
                &:active {
                    background-color: #521822;
                    border: 1px solid #521822;
                }
            } // .save
            &.loading {
                background-color: lightgrey;
                border: 1px solid black;
            }
        }
    }
}

.sortWidgets {
    border: 1px solid black;
    width: 30%;
    min-width: 160px;
}

.widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 160px;
    min-height: $height;
    &:nth-child(even) {
        background-color: rgb(194, 194, 194);
    }
    &:nth-child(odd) {
        background-color: rgb(250, 250, 250);
    }
    p {
        margin-left: 4%;
        text-decoration: none;
    }
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: $height;
    margin-right: 2%;
    i {
        text-decoration: none;
        cursor: pointer;
    }
    i.inactive {
        opacity: 0.3;
        cursor: default;
    }
}

.link {
    cursor: default;
    color: #000;
}