$height: 40px;
$darkRed: #bf2d2d;
$lightRed: #d26c6c;

.manageWidgets {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
}
form.dialog {
  width: 80%;
  max-width: 500px;
  padding: 20px 10px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    display: flex;
    justify-content: space-between;
  }

  footer {
    text-align: center;
    button.save {
      margin-top: 20px;
      width: 200px;
      height: 30px;
      background-color: lighten($lightRed, 10%);
      transition: 0.2s;
      border: 1px solid #000;
      &:hover {
        background-color: lighten($lightRed, 25%);
        //color: #fff;
      }
    }
  }
}

.sortWidgets {
  border: 1px solid black;
  width: 30%;
  min-width: 150px;
}

.widget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 150px;
  min-height: $height;

  &:nth-child(even) {
    background-color: rgb(194, 194, 194);
  }
  &:nth-child(odd) {
    background-color: rgb(250, 250, 250);
  }

  p {
    margin-left: 4%;
    text-decoration: none;
  }
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: $height;
  margin-right: 2%;
  i {
    text-decoration: none;
    cursor: pointer;
  }
  i.inactive {
    opacity: 0.3;
    cursor: default;
  }
}

.link {
  cursor: default;
  color: #000;
}
