$green: #065608;
$darkGrey: #7d7b7b;
$grey: #9ea3a4;
$lightGrey: #e9e9e9;
$red: #bf6363;

.widget {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:nth-child(even) {
    background-color: rgb(194, 194, 194);
  }
  &:nth-child(odd) {
    background-color: rgb(250, 250, 250);
  }
  div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  div.info {
    width: 90%;
    text-align: center;
    h2 {
      margin-top: 10px;
      font-size: 1rem;
      font-weight: 800;
    }
    p {
      color: $green;
      font-size: 2rem;
      margin: 10px 0;
      font-weight: 800;
    }
  }
  div.sortArrows {
    i {
      cursor: pointer;
      font-size: 1.5rem;
      margin-right: 20px;
      margin: 7px 3px;
    }
    i.down {
      transform: scaleY(-1);
    }
  }
}
