.widgetContainer {
  width: 20%;
  max-width: 300px;
  min-width: 220px;
  margin-right: 5px;
  border: 1px solid black;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.widgetTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;

  h2 {
    font-size: 1.5rem;
    text-align: center;
    //text-decoration: underline;
    border-bottom: 2px solid black;
    margin: 5px 0;
  }

  i {
    color: #000;
    cursor: pointer;
  }
}
