.newCard {
    width: 100vw;
    height: 120vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
  }
  
  .newCardModal {
    position: absolute;
    top: 0;
    left: 15vw;
    width: 800px;
    padding: 20px 10px;
    background: white;
    margin: 10vh auto;
  }
  .cardSettingsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    h2 {
      margin: 10px 0;
      font-size: 35px;
    }
  }

  .formOne{
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    input{
        margin: 10px 12px;
        width: 125px;
    }
    button {
        width: 120px;
        height: 35px;
        background: black;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        font-size: 14px;
      }
  }

  .formTwo{
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    padding-left: 20px;
    flex-wrap: wrap;
    input{
        margin: 10px 12px;
        width: 125px;
    }
    button {
        width: 190px;
        height: 35px;
        background: #015703;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        font-size: 16px;
      }
  }

  

  
  .slider {
    -webkit-appearance: none;
    width: 50px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 25px;
    background: rgb(189, 40, 40);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 50%;
    height: 25px;
    background: rgb(189, 40, 40);
    cursor: pointer;
  }