.card{
    width: 300px;
    background: white;
    border: 1px solid black;
    margin: 10px;
}


.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    div{
        width: 40%;
        text-align: left;
        margin-left: 10px;
    }
    img{
        width: 120px;
        height: 120px;
        margin-right: 10px;
        margin-top: 20px;
    }
}

.bottom{
    width: 100%;
    text-align: left;
    margin-left: 10px;
    p{
    }
    span{
        margin-left: 35px;
        color: green;
        font-size: 24px;
        text-decoration: underline;
    }
}
.seeMore{
    text-align: left;
    color: blue;
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px 10px 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}