.cardSettings {
    width: 100vw;
    height: 140vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
  }
  
  .cardSettingsModal {
    font-family: 'Muli', sans-serif;
    width: 800px;
    padding: 20px 10px;
    background: white;
    margin: 10vh auto;
    position: absolute;
    top: 0;
    left: 20vw;
  }

  .cardSettingsTop {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli', sans-serif;
    h2 {
      margin: 10px 0;
      font-size: 40px;
      font-family: 'Muli', sans-serif;
    }
    img{
        width: 300px;
        height: auto;
        margin: 20px 0;
    }
}



.bottom{
  margin-bottom: 20px;
  p{
    font-size: 24px;
  }
  span{
    font-size: 38px;
    color: green;
  }
}

.deleteButton{
  width: 150px;
  height: 40px;
  background: rgb(203, 32, 32);
  color: white;
  font-size: 23px;
  cursor: pointer;
  border-radius: 10px;
}